body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    width: 80%; /* Adjust this value as needed */
    margin: 0 auto; /* Center the container */
}

h1, h2 {
    margin-bottom: 20px;
}

p {
    color: #e9ffe2;
}

p1 {
    color: #bbbdbe;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

input[type="file"] {
    padding: 5px;
}

button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#message {
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    display: none;
}

#message.success {
    background-color: #d4edda;
    color: #155724;
}

#message.error {
    background-color: #f8d7da;
    color: #721c24;
}

.hidden {
    display: none;
}

.success {
    color: green;
}

.error {
    color: red;
}

/* Modal styles */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure modal is above other content */
}

pm {
    color: #f47b5a;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card-box {
    background-color: #007bff;
    color: white;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.2s;
}

.card-box:hover {
    transform: scale(1.05);
}

.statement {
    background-color: #fff;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.statements-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.statement-box {
    background-color: #28a745;
    color: white;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.2s;
    text-align: center;
    width: 200px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.statement-box:hover {
    transform: scale(1.05);
}

.delete-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.transactions-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-height: 400px; /* Set a fixed height for the container */
    overflow-y: auto; /* Enable vertical scrolling */
    margin-top: 20px; /* Add some margin at the top */
}

.transaction {
    background-color: #efd95d;
    color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    width: 90%;
    text-align: left;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    transition: transform 0.2s;
    position: relative;
}
.transaction p {
    margin: 0;
}

.transaction:hover {
    transform: scale(1.02);
}

.label-buttons {
    position: absolute;
    right: 10px;
    top: 10px;
}

.label-button {
    background-color: #6c757d;
    color: white;
    border: none;
    padding: 5px 10px;
    margin-left: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.label-button.active {
    background-color: #3eebf1;
}

.label-button:hover {
    background-color: #5a6268;
}

.hidden {
    display: none;
}

.toggle-label-button {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.toggle-label-button:hover {
    background-color: #0056b3;
}

.toggle-chart-button {
    position: absolute;
    bottom: 70px;
    right: 20px;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.toggle-chart-button:hover {
    background-color: #0056b3;
}

canvas#transactionChart {
    width: 100%;
    height: 100%;
}

@media (max-width: 600px) {
    .statement-box, .transaction {
        width: 90%;
    }
}

