<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
</head>
<body class="bg-gray-100 flex items-center justify-center h-screen">
    <div class="container">
        <h1>Welcome to the FFPP!</h1>
        <p1>This is the home page.</p1>
        <p><a href="/cards">View Cards</a></p>
        
        <hr>

        <h2>Upload a File</h2>
        <form id="uploadForm" action="/upload" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="file">Choose file to upload:</label>
                <input type="file" id="file" name="file" required>
            </div>
            <button type="submit">Upload File</button>
        </form>
        <div id="message" class="hidden"></div>
    </div>

    <!-- Modal -->
    <div id="uploadModal" class="modal hidden">
        <div class="modal-content">
            <pm>Uploading...</pm>
        </div>
    </div>

    <div id="successModal" class="modal hidden">
        <div class="modal-content">
            <pm>Upload Success...</pm>
        </div>
    </div>

    <script>
        document.getElementById('uploadForm').onsubmit = function(event) {
            event.preventDefault();
            var formData = new FormData(this);
            var xhr = new XMLHttpRequest();
            xhr.open("POST", this.action, true);
            xhr.onload = function () {
                var messageDiv = document.getElementById('message');
                var modal = document.getElementById('uploadModal');
                modal.classList.add('hidden');
                if (xhr.status === 200) {
                    messageDiv.textContent = 'File uploaded successfully';
                    messageDiv.classList.add('success');
                } else {
                    messageDiv.textContent = 'Error uploading file: ' + xhr.responseText;
                    messageDiv.classList.add('error');
                }
                messageDiv.classList.remove('hidden');
            };
            xhr.onerror = function () {
                var messageDiv = document.getElementById('message');
                var modal = document.getElementById('uploadModal');
                modal.classList.add('hidden');
                messageDiv.textContent = 'Error uploading file: Network error';
                messageDiv.classList.add('error');
                messageDiv.classList.remove('hidden');
            };
            var modal = document.getElementById('uploadModal');
            modal.classList.remove('hidden');
            xhr.send(formData);
        };
    </script>
</body>
</html>
