<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
</head>
<body class="bg-gray-100 flex items-center justify-center h-screen">
    <div class="container">
        <h1>Welcome to the FFPP!</h1>
        <p>This is the home page.</p>
        <p><a href="/data">View Data</a></p>
    </div>
</body>
</html>
